.navbar {
  height: 60px;
  width: 100%;
}
.navbar-nav{
  width: 100%;
}
.routlink {
  text-decoration: none;
  margin-top: 25px;
  margin-left: 10px;
  direction: rtl;
  color: aliceblue;
  margin-right: 20px;
}
.routlinktextdelete {
  background-color: red;
  color: rgb(5, 5, 5);
}

.nav-shop{
  margin-top: 30px;
}
.shop {
  font-size: 20px;
}
.numberofitems {
  width: 25px;
  height: 25px;
  background-color: red;
  top: 20px;
  border-radius: 35px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.numberofitems p {
  color: white;
  font-size: smaller;
  margin-top: 5px;
}

.navbar-nav {
  margin-bottom: 20px;
}
.navleft{
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 10px;
}
@media only screen and (max-width: 576px) {
  .navbar {
    height: 350px;
  }
  .numberofitems {
    top: 12px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .page-item1 {
    position: absolute;
    margin-top: 320px;
  }
  .page-item2 {
    position: absolute;
    margin-top: 320px;
    right: 5%;
  }
  .carousel-control-prev,
  .carousel-control-next {
    top: 270px;
  }
  .navleft{
  display: flex;
  flex-direction: row;
  position: none;
  left: 10%;
}
}
